<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="sauceDemo">

    <test thread-count="3" name="errorMessageTest">
        <classes>
            <class name="sauceDemo.testCases.errorMessageTest.ChromeErrorMessageTest"/>
            <class name="sauceDemo.testCases.errorMessageTest.EdgeErrorMessageTest"/>
            <class name="sauceDemo.testCases.errorMessageTest.FirefoxErrorMessageTest"/>
        </classes>
    </test>

    <test thread-count="3" name="loginTest">
        <classes>
            <class name="sauceDemo.testCases.loginTest.ChromeLoginTest"/>
            <class name="sauceDemo.testCases.loginTest.EdgeLoginTest"/>
            <class name="sauceDemo.testCases.loginTest.FirefoxLoginTest"/>
        </classes>
    </test>

    <test thread-count="3" name="logoutTest">
        <classes>
            <class name="sauceDemo.testCases.logoutTest.ChromeLogoutTest"/>
            <class name="sauceDemo.testCases.logoutTest.FirefoxLogoutTest"/>
            <class name="sauceDemo.testCases.logoutTest.EdgeLogoutTest"/>
        </classes>
    </test>
</suite>