<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="sauceDemo">
    <test verbose="2" name="loginTest">
        <classes>
            <class name="sauceDemo.testCases.LoginTest"/>
            <class name="sauceDemo.testCases.LockedAccountLoginTest"/>
            <class name="sauceDemo.testCases.AccessibleOnlyWithLoginTest"/>
        </classes>
    </test>
</suite>